body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
}

.square {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: #e74c3c; /* Color inicial */
    cursor: pointer;
}
